#*
 * Copyright (c) 2020 The JavaSSH Project
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a copy
 *  of this software and associated documentation files (the "Software"), to deal
 *  in the Software without restriction, including without limitation the rights
 *  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *  copies of the Software, and to permit persons to whom the Software is
 *  furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included in
 *  all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *  THE SOFTWARE.
 *#
 -----
 Downloads
 -----
 JavaSSH Team
 ------
 2010-07-07
 ------

Downloads

*Binary

 The current release of SSHAPI is ${applicationVersion}. Binary downloads
 include the SSHAPI core library, all provider bridge libraries, documentation and 
 example source.
 
 * {{{${assemblyDownloadLocation}/sshapi-${applicationVersion}-bin.zip/download}sshapi-${applicationVersion}-bin.zip}}
 
 * {{{${assemblyDownloadLocation}/sshapi-${applicationVersion}-bin.tar.gz/download}sshapi-${applicationVersion}-bin.tar.gz}} 
 
 * {{{${assemblyDownloadLocation}/sshapi-${applicationVersion}-bin.tar.bz2/download}sshapi-${applicationVersion}-bin.tar.bz2}} 

[]
 
 <Note, no provider implementations are provided. You must download
 at least one of these from the appropriate vendors site and include them on
 your CLASSPATH. See {{{./links.html}Links}} for a list of supported
 providers and links to where you can download the required libraries.>

*Source
 
 * {{{${assemblyDownloadLocation}/sshapi-${applicationVersion}-bin.zip/download}sshapi-${applicationVersion}-src.zip}}
 
 * {{{${assemblyDownloadLocation}/sshapi-${applicationVersion}-bin.tar.gz/download}sshapi-${applicationVersion}-src.tar.gz}}
  
 * {{{${assemblyDownloadLocation}/sshapi-${applicationVersion}-bin.tar.bz2/download}sshapi-${applicationVersion}-src.tar.bz2}}
 
* SVN

 SSHAPI uses Subversion to manage its source code. 
 You can browse the source tree {{{http://sourceforge.net/p/sshapi/svn/LATEST/tree/trunk/}here}}.
 For more detailed instructions, see {{{./source-repository.html}here}}.